<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/imag/logo_difuminado.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MenuSpiner.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Organi.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConectDB.styles.css" asp-append-version="true" />

</head>
@(await Component.InvokeAsync("Menu", ViewData["UsuarioModel"]))
<body>
    <div class="container">
        <main role="main">
            <div class="container">
                <div class="row text-center spiner-center">
                    <div id="spinner-overlay" class="spinner-overlay">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Organi.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <script src="https://balkan.app/js/OrgChart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>