@{
    ViewData["Title"] = "TiposdeOperación";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}

<div class="container">
    <main role="main">
        <div class="container">
            <br>
            <div class="row text-center">
                <h1>TiposdeOperación</h1>
            </div>
        </div>
    </main>
</div>