@using ConectDB.Models;
@model Error;
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout_PreTicket.cshtml";
}
<main role="main">
    <div class="container-fluid ">
        <div class="row">
            <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
            <input type="hidden" value="@TempData["guardado"]" id="guarda" />
        </div>
        <div class="row">
            <h1 class="kill" >ERROR </h1>
            <h2 class="kill" >@Model.status</h2>
            <h2 class="kill" >@Model.message</h2>
        </div>
    </div>
</main>
