@{
    ViewData["Title"] = "Agencias";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}
<div class="container">
    <main role="main">
        <div class="container">
            <br>
            <div class="row text-center">
                <h1>Agencias</h1>
            </div>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!--<th scope="col">#</th>-->
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefonos</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Descripcion</td>
                        <td>Descripcion</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
    </main>
</div>