@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout_Flotasep.cshtml";
}
<div class="row text-center">
    <div class="container">
        <div class="row text-center">
            <h1>Flota</h1>
            <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
            <input type="hidden" value="@TempData["guardado"]" id="guarda" />
        </div>
        <br />
        <div class="container-fluid">
            <div class="row">
                <input type="text" value="@TempData["ffa"]" id="datosload" />
            </div>
            <button onclick="PrintMapa()" type="button" class="btn btn-info">Mostrar</button>
            <div class="row">
                <div id="map" class="map map-home" style="height: 300px; margin-top: 50px">
                </div>
            </div>
        </div>
    </div>
</div>