body {
}

.tbaleatencion {
    width: 100%;
}

    .tbaleatencion th {
        padding: 4px;
        text-align: center;
        background-color: #5c8b91;
        color: #f2f2f2;
        font-size: small;
    }

    .tbaleatencion td {
        padding: 4px;
        text-align: center;
        font-size: small;
    }

.unidad {
    display: none;
}
.dolly {
    display: none;
}

.remolque {
    display: none;
}
