.cuadroimag p {
    color: limegreen;
}

.kill {
    color: red;
}

.tbcfvpretick th {
    background-color: #5c8b91;
    color: #f2f2f2;
    font-size: small;
}

.sidebar {
    height: 80%;
    width: 250px;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.Lateral {
    margin-left: 250px;
    padding: 20px;
}

.selectTableCod {
    display: block;
    width: 80pt;
}
