.vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.eco-head {
    width: 40px;
    height: 100px;
}

.eco {
    align-content:center;
    text-align:center;
    justify-content:center ;
    width: 40px;
    height: 60px;
}

.fechalta-head {
    width: 90px;
    height: 100px;
}

.fechalta {
    width: 90px;
    height: 60px;
}

.crnot-head {
    width: 50px;
    height: 100px;
}

.crnot {
    width: 50px;
    height: 60px;
}

.callop-head {
    text-align: center;
    width: 50px;
    height: 100px;
}

.callop {
    width: 50px;
    height: 60px;
}

.MecEme-head {
    text-align: center;
    width: 50px;
    height: 100px;
}

.MecEme {
    width: 50px;
    height: 60px;
}

.Diag-head {
    text-align: center;
    width: 40px;
    height: 100px;
}

.Diag {
    width: 40px;
    height: 60px;
}

.rcasig-head {
    width: 40px;
    height: 100px;
}

.rcasig {
    width: 40px;
    height: 60px;
}

.etarc-head {
    text-align: center;
    width: 40px;
    height: 100px;
}

.etarc {
    width: 40px;
    height: 60px;
}

.llegadar-head {
    text-align: center;
    width: 40px;
    height: 100px;
}

.llegadar {
    width: 40px;
    height: 60px;
}

.etarep-head {
    text-align: center;
    width: 50px;
    height: 100px;
}

.etarep {
    width: 50px;
    height: 60px;
}

.concluido-head {
    text-align: center;
    width: 40px;
    height: 100px;
}

.concluido {
    width: 40px;
    height: 60px;
}

.usgen-head {
    width: 100px;
    height: 100px;
}

.usgen {
    width: 100px;
    height: 60px;
}

.UNE-head {
    width: 100px;
    height: 100px;
}

.UNE {
    width: 100px;
    height: 60px;
}

.Tiop-head {
    width: 130px;
    height: 100px;
}

.Tiop {
    width: 130px;
    height: 60px;
}

.FALINI-head {
    width: 190px;
    height: 100px;
}

.FALINI {
    width: 190px;
    height: 60px;
}

.FCRC-head {
    width: 100px;
    height: 100px;
}

.FCRC {
    width: 100px;
    height: 60px;
}

.USCRC-head {
    width: 100px;
    height: 100px;
}

.USCRC {
    width: 100px;
    height: 60px;
}

.FLLOP-head {
    width: 100px;
    height: 100px;
}

.FLLOP {
    width: 100px;
    height: 60px;
}

.FMECEME-head {
    width: 100px;
    height: 100px;
}

.FMECEME {
    width: 100px;
    height: 60px;
}

.FDIAG-head {
    width: 100px;
    height: 100px;
}

.FDIAG {
    width: 100px;
    height: 60px;
}

.FRCAS-head {
    width: 100px;
    height: 100px;
}

.FRCAS {
    width: 100px;
    height: 60px;
}

.FETRC-head {
    width: 100px;
    height: 100px;
}

.FETRC {
    width: 100px;
    height: 60px;
}

.FLLRC-head {
    width: 100px;
    height: 100px;
}

.FLLRC {
    width: 100px;
    height: 60px;
}

.FETA-head {
    width: 100px;
    height: 100px;
}

.FETA {
    width: 100px;
    height: 60px;
}

.FC-head {
    width: 100px;
    height: 100px;
}

.FC {
    width: 100px;
    height: 60px;
}

.grid-header-container {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    gap: 1px;
    text-align: center;
    align-content: start;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f0f0f0;
    /* Asegura un fondo visible */
}

.grid-cell-container {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    gap: 1px;
    text-align: center;
    align-content: start;
}

.grid-header {
    position: sticky;
    top: 0;
    z-index: 20;
    font-weight: bold;
    background-color: #44acb8;
    color: white;
}

.grid-cell {
    border: 1px solid #ddd;
}

.grid-cell-container .eco {
    position: sticky;
    left: 0;
    /* Columna fija al hacer scroll horizontal */
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
    /* Línea divisoria para claridad */
}

.grid-header-container .eco-head {
    position: sticky;
    left: 0;
    /* Columna fija al hacer scroll horizontal */
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
    /* Línea divisoria para claridad */
}

.grid-header-container .fechalta-head {
    position: sticky;
    left: 40px;
    /* Ajusta este valor al ancho acumulado de columnas anteriores */
    z-index: 5;
    /* Más alto para superponer */
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .fechalta {
    position: sticky;
    left: 40px;
    /* Ajusta este valor al ancho acumulado de columnas anteriores */
    z-index: 5;
    /* Más alto para superponer */
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* CRC Notificado */
.grid-header-container .crnot-head {
    position: sticky;
    left: 130px;
    /* Ajusta según el ancho acumulado (40 + 90px de FECHA ALTA TICKET) */
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .crnot {
    position: sticky;
    left: 130px;
    /* Ajusta según el ancho acumulado (40 + 90px de FECHA ALTA TICKET) */
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* Llama Operador */
.grid-header-container .callop-head {
    position: sticky;
    left: 170px;
    /* Ajusta según el ancho acumulado */
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .callop {
    position: sticky;
    left: 170px;
    /* Ajusta según el ancho acumulado */
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* Mecanica Emergencia */
.grid-header-container .MecEme-head {
    position: sticky;
    left: 210px;
    /* Ajusta según el ancho acumulado */
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .MecEme {
    position: sticky;
    left: 210px;
    /* Ajusta según el ancho acumulado */
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* Diagnostico */
.grid-header-container .Diag-head {
    position: sticky;
    left: 250px;
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .Diag {
    position: sticky;
    left: 250px;
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* RC Asignado */
.grid-header-container .rcasig-head {
    position: sticky;
    left: 290px;
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .rcasig {
    position: sticky;
    left: 290px;
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* ETA RC */
.grid-header-container .etarc-head {
    position: sticky;
    left: 330px;
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .etarc {
    position: sticky;
    left: 330px;
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* Llegada RC */
.grid-header-container .llegadar-head {
    position: sticky;
    left: 370px;
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .llegadar {
    position: sticky;
    left: 370px;
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* ETA Reparacion */
.grid-header-container .etarep-head {
    position: sticky;
    left: 410px;
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .etarep {
    position: sticky;
    left: 410px;
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

/* Concluido */
.grid-header-container .concluido-head {
    position: sticky;
    left: 450px;
    z-index: 5;
    background-color: #44acb8;
    border-right: 1px solid #ddd;
}

.grid-cell-container .concluido {
    position: sticky;
    left: 450px;
    z-index: 5;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}