html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.CVEM {
    display: block;
    background-color: #007588;
    color: #fff;
    width: 200pt;
    font-size: small;
    padding: 5px;
}

.Submenus a {
    font-size: small;
}

body {
    margin-bottom: 60px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
}

.custom-input {
    border: none;
    border-bottom: 1px solid #fff; 
    background-color: transparent; 
    color: #fff;
}

.custom-input {
    border: none;
    border-bottom: 1px solid #fff; 
    background-color: transparent; 
    outline: none; 
    box-shadow: none; 
    color: #fff;
}
    .custom-input::placeholder {
        color: #fff; 
    }

input[type="text"]:disabled {
    background-color: transparent;
}

input[type="password"]:disabled {
    background-color: transparent;
}
.custom-input:focus {
    background-color: transparent;
}

.oval-button {
    border-radius: 45%;
}

.right-bg {
    background-image: url('../imag/baner_camiones.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: "100%";
    height: "100%";
}