@using ConectDB.Models;
@model Error;
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout_RequiPersonal.cshtml";
}
<main role="main">
    <div class="container-fluid ">
        <div class="row">
            <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
            <input type="hidden" value="@TempData["guardado"]" id="guarda" />
        </div>
        <div class="row kill">
            <h1>ERROR </h1>
            <h2>@Model.status</h2>
            <h2 style="color:black;">@Model.message</h2>
        </div>
    </div>
</main>
