@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout_ViajesSepomex.cshtml";
    var usuarioModel = ViewData["UsuarioModel"] as UsuarioModel;
}
<div class="container">
    <br />
    <div class="row text-center">
        <h1>Viajes Sepomex</h1>
        <input type="hidden" value="@TempData["Mensaje"]" id="mensaje" />
        <input type="hidden" value="@TempData["guardado"]" id="guarda" />
    </div>
    <div class="container">
        <p>
            Ejemplo para abrir una ventana con JavaScript, mostrar datos de la ventana abierta y el
            navegador, redimensionar la ventana abierta y cerrarla.<br><br>En este ejemplo también se
            comprueba si la ventana emergente ha sido abierta o no, para
            avisar en caso necesario.
        </p>
        <p>Pulsa en los botones siguientes para probar el código HTML y JavaScript.</p>
        <button onclick="abrirVentana()">Crear ventana</button>
        <button onclick="modificarVentana()">Cambiar tamaño de la ventana</button>
        <button onclick="imprimirPagina()">Imprimir la página actual</button>
        <button onclick="mostrarDatosEnVentana()">Mostrar datos</button>
        <button onclick="modificarTextoVentanaSegunSelectorID()">Modificar datos en ventana</button>
        <button class="btn btn-primary" onclick="cerrarVentana()">Cerrar ventana</button>
        <input type="text" value="@ViewData["TextoPrueba"]" id="Texto" name="Texto" />
        <p id="aviso"></p>
    </div>
</div>
