@using ConectDB.Models;
@model UsuarioModel
@{
    ViewData["Title"] = "Acceder";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}

<br>
<div class="row text-center">
    <h1>Bienvenido</h1>
</div>
<br />

