@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main">
    <div class="container-fluid text-center">
        <h1>En Construccion</h1>
        <img src="~/imag/baner_camiones_reco.png" class="img-fluid" alt="Bootstrap" align="right" width="100%" height="100%">
    </div>
</main>